#bottom1
{
  position: absolute;
   bottom:0;
   width:100%;
   height:60px;  
   background: darkgray;
   text-align: center;
}
#bottom2
{
  position:relative;
   width:100%;
   height:25px;  
   background: aqua;
}
.relative {
  position: relative;
  width: 400px;
  height: 200px;
  color: lightgray;
} 
.center
{
  text-align: center;
}
#back
{
  background: blue;
}
@media screen and (max-width: 640px)
{
  .column
  {
    flex: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 768px)
{
  .column
  {
    flex: 50%;
    max-width: 100%;
  }
}
@media screen and (max-width: 600px)
{
  .column
  {
    flex: 60%;
    max-width: 80%;
  }
}